#meetup-page-content {
  position: relative;
  top: 120px;
  margin-bottom: 100px;
}

#meetup-page-card {
  width: 50%;
  margin: 0 auto;
}

#time {
  position: relative;
  left: 40px;
}

#date, #location {
  position: relative;
  left: 15px
}

#organizer {
  display: block;
}
