#meetup-page-content {
  position: relative;
  top: 120px;
  margin-bottom: 100px;
  display: flex;
}

#meetup-page-card {
  max-width: 760px;
  margin: 0 auto;
}

#time {
  position: relative;
  left: 40px;
}

#date, #location {
  position: relative;
  left: 15px
}

#organizer {
  display: block;
}

#icon-menu{
  position: absolute;
  right: 25%;
}

#users-going {
  margin-top: 5px;
  margin-bottom: 0px;
}

#users-going:hover {
  cursor: pointer;
  text-decoration: underline;
}

#attending-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#attending-item {
  display: flex;
  align-items: center;
}

#attending-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

#attending-name {
  margin-left: 15px;
  font-size: 18px;
}

#attending-link {
  text-decoration: none;
}
