#profile-page-content {
  position: relative;
  top: 85px;
}

#profile-card {
  max-width: 350px;
  margin: 0 auto;
}

 #tabs, #profile-edit-form {
  margin: 0 auto;
  max-width: 350px;
}

#profile-edit-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}


#message-btn-container {
  display: flex;
  justify-content: flex-end;
}

#tabs {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
